<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>{% block title%}Uniccan{% endblock %}</title>
</head>
<body>
  {% if(current_user.is_anonymous) %}
  <nav class="navbar navbar-inverse navbar-fixed-top row bg-dark">
    <div class="navbar col-md-1">
      <!-- <a class="navbar-brand text-light" href="#">Uniccan</a> -->
      <a href="/"><h4 class="text-light" style="color: white;margin-top: 4%;">Uniccan</h4>
    </div>
    <div>
      <a href="{{ url_for('signup') }}"><button class="btn btn-primary">SignUp</button></a>
      <a href="{{ url_for('login') }}"><button class="btn btn-primary">LogIn</button></a>
    </div>
    <!-- <div id="navbar" class="collapse navbar-collapse col-md-6" style="margin-top: 1%;">
      <p>nka</p>
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('signup') }}" class="text-light"><button class="btn btn-primary" type="submit">SignUp</button></a></li>
        <li><a href="{{ url_for('login') }}" class="text-light" style="margin-right: 5%;"><button class="btn btn-primary"
          type="submit">LogIn</button></a></li>
      </ul>
    </div> -->
  </nav>
  {% else %}
    <nav class="navbar navbar-expand-lg navbar-light bg-dark row" style="padding: 1%;">
      <a class="navbar-brand text-light col-md-1" href="#">Uniccan</a>
      <input class="form-control mr-sm-4 col-md-6" type="search" placeholder="Search Circle To Join" aria-label="Search">
      <!-- <button class="btn btn-light" type="submit">Search</button> -->
      <a href="createcircle" class="text-light" style="text-decoration: none; margin-left: 5%;"><h6>Create Circle</h6></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="padding-left: 20%;">
        <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
        <li class="dropdown">
          <a class="dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/view-profile">View Your profile</a>
            <a class="dropdown-item" href="/edit-profile">Edit Your Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
          <a href="{{ url_for('logout') }}" style="margin-left: 60%;"><button class="btn btn-danger">LogOut</button></a>
        </ul>
      </div>
    </nav>
  {% endif %}
  <div class="container" style="margin-top: 5%;">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>