<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>uniccan</title>
    <style>
        .navbar-brand {margin-left: 5%}
        .signup {margin-right: 20%;margin-left: 50%;}
        /* @media screen and (max-width: 500px) {
            .navbar-brand {margin-right: 0%;}
            .signup {margin-left: 0%;}
        } */
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark row" style="padding: 1%;">
        <a class="navbar-brand text-light col-md-4" href="#">Uniccan</a>
            <a href="#" class="text-light" style="margin-left: 5%; text-decoration: none;"><h6>Create Circle</h6></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="padding-left: 20%;">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-" href="/edit-profile">Edit Your profile</a>
                <a class="dropdown-item text-" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-" href="#">Something else here</a>
              </div>
            </li>
            <a href="{{ url_for('logout') }}" style="margin-left: 60%;"><button class="btn btn-danger">LogOut</button></a>
          </ul>
        </div>
    </nav>
    <form style="margin-left: 10%; margin-right: 10%; margin-top: 5%;">
        <div class="form-row">
            <div class="form-group col-md-12">
            <label for="inputEmail4">Username</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="{{ username }}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Choose Gender</label>
            <select class="form-control form-control-lg">
                <option>{{ gender }}</option>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="college">College Name</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="{{ college }}">
        </div>      
        <div class="md-form">
            <label for="dob">Date of Birth</label>
            <input placeholder="Selected date" type="date" id="date-picker-example" class="form-control datepicker">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 2%;">Update</button>
    </form>

</body>
</html>