{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
{{ super() }}
<form method="POST" action="/signup">
  <h2 class="form-signin-heading">Sign Up</h2>
  {{ form.hidden_tag() }}
  <div class="form-row">
    <div class="form-group col-md-12">
      {{form.username.label}}
      {{ form.username(class="form-control") }}
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      {{form.email.label}}
      {{ form.email(class="form-control") }}
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    {{ form.gender.label }}
    {{ form.gender(class="form-control form-control-lg") }}
    {% for error in form.gender.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      {{form.college.label}}
      {{ form.college(class="form-control") }}
      {% for error in form.college.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      {{ form.dob.label}}
      {{ form.dob(class="form-control") }}
      {% for error in form.dob.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      {{ form.password.label}}
      {{ form.password(class="form-control")}}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      {{ form.password2.label }}
      {{ form.password2(class="form-control")}}
      {% for error in form.password2.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
  </div>
  {{ form.submit() }}
</form>
<h5 style="padding-left:20%">Already a User? <a href="{{ url_for('login') }}">SignIn</a></h5>
{% endblock %}